$electric: #07b57a;
$lake: #0b63e9;
$autumn: #f3ac06;
$eggplant: #6c26ff;

$accent-color: $eggplant;
$secondary-color: $lake;
$focus-color: $electric;
$link-color-primary: $lake;

$font-size-large: 18px;
$font-size-body: 16px;
$font-size-small: 14px;
